
.f1{
    text-align: left;
    padding: 10%;
    margin-top: calc(100vh - 960px);
    padding-right: calc(100vh - 150px);
}

.puteriaXD{
    text-align: left;
    padding: 10%;
    margin-top: calc(100vh - 960px);
    padding-right: calc(100vh - 150px);
}

.pendejada{
    text-align: left;
    padding: 10%;
    margin-top: calc(100vh - 960px);
    padding-right: calc(100vh - 150px); 
}

.chingadamadre{
    text-align: left;
    padding: 10%;
    margin-top: calc(100vh - 960px);
    padding-right: calc(100vh - 150px);
}

.FLDSMDFR{
    text-align: left;
    padding: 10%;
    margin-top: calc(100vh - 960px);
    padding-right: calc(100vh - 150px);
}

.pendejada2{
     text-align: left;
    padding: 10%;
    margin-top: calc(100vh - 960px);
    padding-right: calc(100vh - 150px);
}